/* --------------------------------------------------------------------
// Vue transitions
// -------------------------------------------------------------------- */

/* a quick fade in transition, but NO fade out */
.fadein-enter-active {
  transition: opacity 0.1s linear;
}
.fadein-leave,
.fadein-leave-active {
  display: none;
}
.fadein-enter-from {
  opacity: 0;
}
