/* ====================================================================
// MASTER STYLESHEET
//
//   Conventions
//     - using SuitCSS naming
//       https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md
//     - use a namespace prefix : `rw-`
//     - custom utilities use `ux-` prefix
//
//   Notes
//     - keeping css out of Vue SFCs, easier to edit
//
//   Todo
//     - lint via `postcss-bem-linter`
//
// ==================================================================== */

/* --------------------------------------------------------------------
// 1. tailwind's "preflight" and opiniated resets
// -------------------------------------------------------------------- */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);

/* --------------------------------------------------------------------
//
// -------------------------------------------------------------------- */
@import "./_anim.css";
@import "./_colors.css";

/* --------------------------------------------------------------------
// 2. our reset & base styles (*after* tailwind's defaults)
// -------------------------------------------------------------------- */
body {
  background: var(--color-body-bg);
  font-size: 1rem;
  line-height: 1.2em;
  color: var(--color-gray);
  @apply font-sans;
}

div {
  /* stylelint-disable-next-line declaration-no-important */
  cursor:
    url("@/assets/images/mouse.png") 2 2,
    pointer !important;
}

h1,
h2,
h3,
h4 {
  color: var(--color-gold);
  line-height: 1.1em;
  font-weight: 500;
  margin-bottom: 1em;
}

p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

/* preferred default (tailwind uses `block`) */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline-block;
}

a {
  color: var(--color-gold);
}

/* --------------------------------------------------------------------
// a minimal layout for the standalone version of Runewizard
// -------------------------------------------------------------------- */

.rw-Layout-row {
  @apply max-w-[1100px] px-4;
}

.rw-Layout-goldBarSeparator {
  background: url("@assets/images/hr-gold.gif") repeat-x 0 100%;
  @apply h-[16px];
}

.rw-Header-link {
  color: var(--color-gold);

  &:hover {
    color: color-mix(in srgb, var(--color-gold), #ffeedd);
    @apply underline;
  }
}

.rw-Footer {
  color: var(--color-gold);
}
.rw-Footer-link {
  color: var(--color-gold-light);
  @apply hover:underline;
}

/* --------------------------------------------------------------------
// <main>
//   Base styles that should be scoped to the Runewizard, and not affect
//   the rest of the page in case it's included in another site.
// -------------------------------------------------------------------- */
.rw-Main {
  @apply font-sans;
}

.rw-Title-h2 {
  @apply text-base font-bold;
  color: var(--color-title);
}

/* --------------------------------------------------------------------
// runeword search box
// -------------------------------------------------------------------- */
.rw-Search {
  label {
    color: var(--color-gold);
  }
}
.rw-Search-input {
  @apply w-full rounded;
  padding: 0.5rem;
  background: #000;
  border: 1px solid var(--color-gold);
  color: var(--color-gold-light);

  &:focus {
    outline: none;
    border-color: var(--color-gold-light);
  }

  &::placeholder {
    color: #444;
  }
}

/* --------------------------------------------------------------------
// the "Help" toggle
// -------------------------------------------------------------------- */
.rw-HelpLink {
  /* slighty better valign of the SVG icon */
  @apply inline-flex items-center;
  color: var(--color-gold);
  padding: 0.3em 0; /* slightly increase mouseover area */

  &:hover {
    color: color-mix(in srgb, var(--color-gold), #ffeedd);
    @apply underline;
  }
}

/* --------------------------------------------------------------------
// Help : base class top format markdown output inside it
// -------------------------------------------------------------------- */
.rw-Help {
  @apply md:px-4 pt-6 pb-6;
  @apply mb-6;
  border-bottom: 1px solid var(--color-gray-dark);

  color: var(--color-body-fg);
  line-height: 1.4em;

  h2 {
    @apply font-bold mb-2;
    font-variant: small-caps;
    color: var(--color-accent);
  }
  h2:not(:first-child) {
    @apply mt-6;
  }

  a {
    @apply underline;
  }

  p {
    @apply mb-2;
  }
}

/* --------------------------------------------------------------------
// The Runewords table
// -------------------------------------------------------------------- */
.rw-Table {
  font-size: 13px;
}
.rw-Table-th {
  background: var(--color-blood-dark);
  color: var(--color-gold);
  font-weight: normal;
  padding: 0.25rem 0.5rem;
  border-right: 1px solid #000;
  @apply select-none;

  .is-sortCol {
    font-weight: bold;
  }
}

.rw-Table-thIcon {
  color: var(--color-accent);
}

.rw-Table-tr.is-complete td {
  background: var(--color-blood-darker);
}

.rw-Table-td {
  line-height: 1;
  padding: 5px 5px 6px;
  text-align: center;
  border-bottom: 1px solid var(--color-gray-dark);
  color: var(--color-gray);

  &.is-rune {
    color: var(--color-rune-off);
  }
  &.is-active {
    color: var(--color-rune-act);
  }
}
/* runeword title */
.rw-Table-tdTitle {
  @apply p-0;
}
.rw-Table-tdTitleSpan {
  @apply inline-block px-[5px] py-[7px]; /* increase the mouseover area */

  color: var(--color-gray);

  font-size: 1rem;

  &:hover {
    color: var(--color-gold);
  }
}

/* optional DII patch number to distinguish recent changes */
.rw-Table-tdTitlePatch {
  @apply rounded-sm text-xs leading-none ml-1;
  padding: 2px 4px 2px;
  background-color: var(--color-tag);
  color: #000;

  &.is-new {
    background-color: var(--color-tag-latest);
  }
  /* patch-specific colors */
  &.patch-3-0 {
    background-color: #7b3fe4; /* purple (Reign of the Warlock) */
  }

  &.patch-2-6 {
    background-color: var(--color-green);
  }

  &.patch-2-4 {
    background-color: #b87333; /* bronze */
  }
}

/* pin icon next to runeword title */
.rw-Table-pin {
  @apply absolute right-0;
  @apply cursor-pointer;

  &:hover {
    color: var(--color-gold-light);
  }
  &.is-pinned {
    color: var(--color-gray);
  }

  /* background: red; */
  width: 1.5em;
  height: 1.5em;

  /* vertical centering */
  @apply top-[50%] mt-[-0.75em];

  /* center the icon with auto margin trick */
  @apply flex;
}
.rw-Table-pinIcon {
  @apply m-auto;
}

.rw-Table-tdType a {
  text-decoration: underline dotted;
  &:hover {
    text-decoration: underline;
    color: #d5d2d0;
  }
}

/* additional info in the item type, shown below item types in smaller text */
.rw-Table-tdTypeClass {
  @apply block mt-1 text-[0.9em];
  color: var(--color-accent);
}

.rw-Table-tr.is-complete .rw-Table-tdTitleSpan {
  color: var(--color-gold);
}

/* --------------------------------------------------------------------
//
// -------------------------------------------------------------------- */
.rw-Runes-clear {
  @apply inline-block leading-4;
  @apply select-none;
  color: var(--color-danger);
  &:hover {
    color: color-mix(in srgb, var(--color-danger), #fff 20%);
  }

  padding: 0.3em 0; /* slightly increase mouseover area */
  text-decoration: none;
}

.rw-Rune {
  /* size is bound to the old ,gif sprite for now, TODO : use a SVG rune icon */
  width: 34px;
  height: 34px;
  background: url("@assets/images/rune-bg2.gif") no-repeat 50% -34px;

  color: #999;
  cursor: pointer;

  font-size: 13px;
  font-variant: small-caps;
  line-height: 34px;

  &:hover {
    color: #aaa;
  }

  &.is-selected {
    color: #00ff2e;
    background-position: 50% 0;
  }
}

/* --------------------------------------------------------------------
//
// -------------------------------------------------------------------- */
/* a pretend component to group utilities used in formatting the text in runewords.ts */

/* the `ladder` tag shown next to Runeword names */
.rw-Md-ladder {
  background-color: var(--color-ladder-bg);
  color: var(--color-ladder-fg);
  border-radius: 100%;
  padding: 1px 5px;
  @apply ml-1 leading-none text-xs;
}

/* special note for this runeword */
.rw-Md-note {
  background-color: #7a1f1f;
  color: #fff;
  @apply rounded-sm py-[2px] px-1;
  @apply ml-1 leading-none text-xs;
}

/* required class under item type (Character Class) */
.rw-Md-class {
  @apply block;
  font-size: 0.9em;
  color: rgb(192, 61, 137);
}

/* --------------------------------------------------------------------
// RUNEWORD DESCRIPTION LAYER
// -------------------------------------------------------------------- */
.rw-RunewordPopup {
  /* use min-width, when some runeword stat is long let popup stretch horizontally */
  /*  (to keep one stat per line) */
  @apply min-w-[22rem];

  /* base font-size for scaling */
  font-size: 1rem;

  z-index: 100;

  background: #000c;
  border: 1px solid var(--color-gold);
  @apply py-4 px-8 text-center;
  text-align: center;
  color: var(--color-runeword-text);
}
.rw-RunewordPopup-title {
  color: var(--color-gold);
  @apply text-[1.4em] leading-[1em] mb-2;
}
.rw-RunewordPopup-type {
  color: var(--color-accent);
  font-size: calc(14 / 16) * 1em;
  @apply mb-2;

  /* optional subtext in runeword.ttype, eg. `(Amazon)` */
  em {
    @apply ml-1 opacity-80;
  }
}

/* the runeword's stats */
.rw-RunewordPopup-body {
  line-height: 1.4em;

  /* subtitle within stats when split stats by Weapon / Body Armor types */
  .is-title {
    @apply mb-2;
    color: var(--color-gray);
  }

  /* format modifiers (numbers) in the item description */
  .is-mod {
    @apply font-bold;
    color: var(--color-runeword-mods);
  }
}

/* --------------------------------------------------------------------
// Our own utilities & Tailwind utilities
//  imported last, so that we can override component styles (in CSS files)
//  with utilities in the templates.
// -------------------------------------------------------------------- */
@import "./_utilities.css";

@import "tailwindcss/utilities.css";
