// ====================================================================
// MASTER STYLESHEET
//
//   Conventions
//
//     - using SuitCSS naming
//       https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md
//     - use a namespace prefix : `rw-`
//     - custom utilities use `ux-` prefix
//
//   Notes
//
//     - keeping component's styles in a single file for now (KISS)
//     - keeping scss styles out of SFCs, there are issues with `@apply`
//
//   Todo
//
//     - lint via `postcss-bem-linter`
//
// ====================================================================

// --------------------------------------------------------------------
// 1. tailwind's "preflight" and opiniated resets
// --------------------------------------------------------------------
@import "tailwindcss/base";

// --------------------------------------------------------------------
// 2. our reset & base styles (*after* tailwind's defaults)
// --------------------------------------------------------------------
body {
  background: #000;
  font-size: 1rem;
  line-height: 1.2em;
  color: #afafaf;
  @apply font-sans;
}

h1,
h2,
h3,
h4 {
  color: var(--colorText);
  line-height: 1.1em;
  font-weight: 500;
  margin-bottom: 1em;
}

p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

// preferred default (tailwind uses `block`)
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline-block;
}

div{
  cursor: url("@/assets/images/mouse.png") 2 2, pointer !important;
}

// --------------------------------------------------------------------
// icons (use similar classes/styles as FontAwesome)
// --------------------------------------------------------------------
// base class
.ux-icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-variant: normal;
  font-style: normal;
  text-rendering: auto;
  line-height: 1;
  font-weight: 400;
  vertical-align: middle;
}

// sizing
.ux-icon--lg {
  font-size: 1.25em;
}

// fixed width
.ux-icon--fw {
  text-align: center;
  width: 1em;
}

// --------------------------------------------------------------------
// Vue transitions
// --------------------------------------------------------------------

// a quick fade in transition, but NO fade out
.fadein-enter-active {
  transition: opacity 0.1s linear;
}
.fadein-leave,
.fadein-leave-active {
  display: none;
}
.fadein-enter-from {
  opacity: 0;
}

// --------------------------------------------------------------------
// a minimal layout for the standalone version of Runewizard
// --------------------------------------------------------------------

// pretend component to group layout utils
.rw-Layout {
  &-rowContainer {
    @apply max-w-[1000px] pl-8 pr-4;
  }

  &-goldBarSeparator {
    background: url("@assets/images/hr-gold.gif") repeat-x 0 100%;
    @apply h-[16px];
  }
}

.rw-Header {
  &-link {
    @apply text-gold-light;
    @apply hover:underline;
  }
}

.rw-Footer {
  @apply text-gold;

  &-link {
    @apply text-gold-light;
    @apply hover:underline;
  }
}

// --------------------------------------------------------------------
// <main>
//   Base styles that should be scoped to the Runewizard, and not affect
//   the rest of the page in case it's included in another site.
// --------------------------------------------------------------------
.rw-Main {
  @apply font-sans;
}

.rw-Title {
  &-h2 {
    @apply text-base font-bold;
    color: #d5d2d0;
  }
}

// --------------------------------------------------------------------
// runeword search box
// --------------------------------------------------------------------
.rw-Search {
  &-input {
    @apply w-full rounded text-[#444];
    padding: 0.5rem;
    border: 2px solid #ccc;
  }
}

// --------------------------------------------------------------------
// the "Help" toggle
// --------------------------------------------------------------------
.rw-HelpLink {
  $linkColor: #b4ac92;

  // slighty better valign of the SVG icon
  @apply inline-flex items-center;
  color: $linkColor;
  padding: 0.3em 0; // slightly increase mouseover area

  &:hover {
    color: mix($linkColor, #fed, 50);
    @apply underline;
  }
}

// --------------------------------------------------------------------
// Help : base class top format markdown output inside it
// --------------------------------------------------------------------
.rw-Help {
  // popup?
  // @apply absolute left-[5vw] top-[5rem] w-[90vw] z-[666];

  @apply px-4 pt-6 pb-6;
  @apply border-b border-[#444] mb-6;

  color: #aca798;
  line-height: 1.4em;

  h2 {
    @apply font-bold mb-2;
    font-variant: small-caps;
    color: #c96e0b;
  }
  h2:not(:first-child) {
    @apply mt-6;
  }

  a {
    @apply underline;
    color: #daaf77;
  }

  p {
    @apply mb-2;
  }
}

// --------------------------------------------------------------------
// The Runewords table
// --------------------------------------------------------------------
.rw-Table {
  color: #afafaf;
  font-size: 13px;

  &-th {
    background: #400000;
    color: #c0c080;
    font-weight: normal;
    padding: 0.25rem 0.5rem;
    border-right: 1px solid #000;
    @apply select-none;
  }

  &-th.is-sortCol {
    font-weight: bold;
  }

  &-thIcon {
    color: #c0c08080;
  }

  &-tr.is-complete td {
    background: #200000;
  }

  &-td {
    line-height: 1;
    padding: 5px 5px 6px;
    text-align: center;
    border-bottom: 1px solid #29291d;
    color: #858280;
  }

  &-td.is-rune {
    color: #844;
  }
  &-td.is-active {
    color: #44aa44;
  }

  // runeword title
  &-tdTitle {
    @apply p-0;
  }
  &-tdTitleSpan {
    @apply inline-block px-[5px] py-[7px]; // increase the mouseover area

    color: #74726c;

    &:hover {
      color: #b9b6ac;
    }
  }

  &-tdType a {
    text-decoration: underline dotted;
  }
  &-tdType a:hover {
    text-decoration: underline;
    color: #d5d2d0;
  }

  // additional info in the item type, shown below item types in smaller text
  &-tdType em {
    @apply block mt-1 text-[0.9em];
    color: #bd8547;
  }

  &-tr.is-complete &-tdTitleSpan {
    color: #c6a33b;
  }
}

// --------------------------------------------------------------------
//
// --------------------------------------------------------------------
.rw-Runes {
  &-clear {
    @apply inline-block leading-4;
    @apply select-none;
    @apply text-[#884444] hover:text-[#b14b4b];

    padding: 0.3em 0; // slightly increase mouseover area
    color: #884444;
    text-decoration: none;
  }
}

/** @define Rune */
.rw-Rune {
  @apply flex;

  // size is bound to the old ,gif sprite for now, TODO : use a SVG rune icon
  width: 34px;
  height: 34px;
  background: url("@assets/images/rune-bg2.gif") no-repeat 50% -34px;

  color: #666;
  cursor: pointer;

  font-size: 13px;
  font-variant: small-caps;
  line-height: 34px;

  &:hover {
    color: #aaa;
  }

  &.is-selected {
    color: #fff;
    background-position: 50% 0;
  }
}

// --------------------------------------------------------------------
//
// --------------------------------------------------------------------
// a pretend component to group utilities used in formatting the text in runewords.ts
.rw-Md {
  // the `ladder` tag shown next to Runeword names
  &-ladder {
    background: #444444;
    color: #9f9f9f;
    border-radius: 1rem;
    font-variant: small-caps;
    font-size: 0.8em;
    padding: 0.2em 0.4em;
    @apply ml-1;
  }

  // annotation under item type, eg. "(small shields)"
  &-small {
    @apply block;
    font-size: 0.9em;
    color: #666;
  }

  // required class under item type (Character Class)
  &-class {
    @apply block;
    font-size: 0.9em;
    color: rgb(192, 61, 137);
  }
}

// --------------------------------------------------------------------
// RUNEWORD DESCRIPTION LAYER
// --------------------------------------------------------------------
.rw-RunewordPopup {
  // use min-width, when some runeword stat is long let popup stretch horizontally
  //  (to keep one stat per line)
  @apply min-w-[22rem];

  // base font-size for scaling
  font-size: 1rem;

  z-index: 100;

  background: #000c;
  border: 1px solid #937c6e;
  @apply py-4 px-8 text-center;
  text-align: center;
  color: #48ac3f;

  &-title {
    color: #928a70;
    @apply text-[1.4em] leading-[1em] mb-2;
  }
  &-type {
    color: #fff;
    font-size: calc(14 / 16) * 1em;
    @apply mb-2;

    // optional subtext in runeword.ttype, eg. `(Amazon)`
    em {
      @apply ml-1 opacity-80;
    }
  }

  // the runeword's stats
  &-body {
    line-height: 1.4em;
  }

  // subtitle within stats when split stats by Weapon / Body Armor types
  &-body h4 {
    @apply text-[#979797] mb-2;
  }

  // format modifiers (numbers) in the item description
  &-body .is-mod {
    @apply font-bold;
  }
}

// --------------------------------------------------------------------
// (last) tailwind utilities
// --------------------------------------------------------------------
@import "tailwindcss/utilities";
