// ====================================================================
// MASTER STYLESHEET
//
//   Conventions
//
//     - using SuitCSS naming
//       https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md
//     - use a namespace prefix : `rw-`
//     - custom utilities use `ux-` prefix
//
//   Notes
//
//     - keeping component's styles in a single file for now (KISS)
//     - keeping scss styles out of SFCs, there are issues with `@apply`
//
//   Todo
//
//     - lint via `postcss-bem-linter`
//
// ====================================================================

// --------------------------------------------------------------------
// 1. tailwind's "preflight" and opiniated resets
// --------------------------------------------------------------------
@import "tailwindcss/base";

// --------------------------------------------------------------------
// 2. base styles
// --------------------------------------------------------------------
body {
  background: #000;
  font-size: 13px;
  line-height: 1.2em;
  color: #afafaf;
  @apply font-sans;
}

b,
strong {
  // tailwind sets this to `bolder` which isn't in our main font
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  color: var(--colorText);
  line-height: 1.1em;
  font-weight: 500;
  margin-bottom: 1em;
}

p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline-block;
}

// --------------------------------------------------------------------
// icons (use similar classes/styles as FontAwesome)
// --------------------------------------------------------------------
// base class
.ux-icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-variant: normal;
  font-style: normal;
  text-rendering: auto;
  line-height: 1em;

  font-weight: 400;
  vertical-align: middle;
}

// fixed width
.ux-icon--fw {
  text-align: center;
  width: 1em;
}

// --------------------------------------------------------------------
//
// --------------------------------------------------------------------
.rw-Main {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

.rw-Title {
  &-h2 {
    @apply text-base font-bold;
    color: #afafaf;
  }
}

// --------------------------------------------------------------------
//
// --------------------------------------------------------------------
.rw-Table {
  color: #afafaf;
  font-size: 13px;

  &-th {
    background: #400000;
    color: #c0c080;
    font-weight: normal;
    padding: 0.25rem 0.5rem;
    border-right: 1px solid #000;
    @apply select-none;
  }

  &-th.is-sortCol {
    font-weight: bold;
  }

  &-thIcon {
    color: #c0c08080;
  }

  &-tr.is-complete td {
    background: #200000;
  }

  &-td {
    line-height: 1;
    padding: 5px 5px 6px;
    text-align: center;
    border-bottom: 1px solid #29291d;
    color: #888;
  }

  &-td.is-rune {
    color: #844;
  }
  &-td.is-active {
    color: #44aa44;
  }

  &-tdTitle {
    color: #575242;
  }

  &-tr.is-complete &-tdTitle {
    color: #928a70;
  }
}

// --------------------------------------------------------------------
//
// --------------------------------------------------------------------
.rw-Runes {
  &-clear {
    @apply inline-block leading-4;
    @apply select-none;

    color: #884444;
    text-decoration: none;

    &Icon {
      color: #da0000;
    }

    &:hover {
      color: #b14b4b;
    }
  }
}

/** @define Rune */
.rw-Rune {
  @apply flex;

  // size is bound to the old ,gif sprite for now, TODO : use a SVG rune icon
  width: 34px;
  height: 34px;
  background: url("/images/rune-bg2.gif") no-repeat 50% -34px;

  color: #666;
  cursor: pointer;

  font-size: 13px;
  font-variant: small-caps;
  line-height: 34px;

  &.is-selected,
  &:hover {
    color: #fff;
  }

  &.is-selected {
    background-position: 50% 0;
  }
}

// --------------------------------------------------------------------
//
// --------------------------------------------------------------------
// a pretend component to group utilities used in formatting the text in runewords.ts
.rw-Md {
  // the `ladder` tag shown next to Runeword names
  &-ladder {
    background: #444444;
    color: #9f9f9f;
    border-radius: 1rem;
    font-variant: small-caps;
    font-size: 0.8em;
    padding: 0.2em 0.4em;
    @apply ml-1;
  }

  // annotation under item type, eg. "(small shields)"
  &-small {
    @apply block;
    font-size: 0.9em;
    color: #666;
  }

  // required class under item type (Character Class)
  &-class {
    @apply block;
    font-size: 0.9em;
    color: rgb(192, 61, 137);
  }
}


// --------------------------------------------------------------------
// (last) tailwind utilities
// --------------------------------------------------------------------
@import "tailwindcss/utilities";
