// ====================================================================
// MASTER STYLESHEET
//
//   Conventions
//
//     - using SuitCSS naming
//       https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md
//     - use a namespace prefix for all bem-like classes
//
//   Notes
//
//     - keeping component's styles in a single file for now (KISS)
//     - keeping styles out of SFCs, there are issues with `@apply`
//
//   Todo
//
//     - lint via `postcss-bem-linter`
//
// ====================================================================

body {
  background: #000;
  font-size: 12px;
  line-height: 1.2em;
  font-family: "Verdana", "Arial", sans-serif;
  color: #afafaf;
}

// --------------------------------------------------------------------
// icons (use similar classes/styles as FontAwesome)
// --------------------------------------------------------------------
// base class
.ux-icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-variant: normal;
  font-style: normal;
  text-rendering: auto;
  line-height: 1em;

  font-weight: 400;
  vertical-align: middle;
}

// fixed width
.ux-icon--fw {
  text-align: center;
  width: 1em;
}

// --------------------------------------------------------------------
//
// --------------------------------------------------------------------
.rw-Main {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}


.rw-Title {
  &-h2 {
    @apply text-base font-bold;
    color: #afafaf;
  }
}

// --------------------------------------------------------------------
//
// --------------------------------------------------------------------
.rw-Table {
  color: #afafaf;
  font-size: 13px;

  &-th {
    background: #400000;
    color: #c0c080;
    font-weight: normal;
    padding: 0.25rem 0.5rem;
    border-right: 1px solid #000;
    @apply select-none;
  }

  &-thIcon {
    color: #c0c08080;
  }

  &-tr.is-complete td {
    background: #200000;
  }

  &-tr &-tdTitle {
    color: #575242;
  }

  &-tr.is-complete &-tdTitle {
    color: #928a70;
  }

  &-td {
    padding: 4px 5px;
    text-align: center;
    border-bottom: 1px solid #29291d;
    color: #888;
  }

  &-td.is-rune {
    color: #844;
  }
  &-td.is-active {
    color: #44aa44;
  }
}

// --------------------------------------------------------------------
//
// --------------------------------------------------------------------
.rw-Runes {
  &-clear {
    @apply inline-block leading-4;
    @apply select-none;

    color: #884444;
    text-decoration: none;

    &Icon {
      color: #da0000;
    }

    &:hover {
      color: #b14b4b;
    }
  }
}

/** @define Rune */
.rw-Rune {
  @apply flex w-7 h-7 rounded-md mb-0.7rem;

  background: #555555;
  color: #fff;

  &:hover {
    color: #fff;
    background: #888;
    cursor: pointer;
  }

  &.is-selected {
    background: red;
  }
}
