// ====================================================================
// MASTER STYLESHEET
//
//   Conventions
//     - using SuitCSS naming
//       https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md
//     - use a namespace prefix : `rw-`
//     - custom utilities use `ux-` prefix
//
//   Notes
//     - keeping component's styles in a single file for now (KISS)
//     - keeping scss out of Vue SFCs, easier to edit
//
//   Todo
//     - lint via `postcss-bem-linter`
//
// ====================================================================

// --------------------------------------------------------------------
// 1. tailwind's "preflight" and opiniated resets
// --------------------------------------------------------------------
@import "tailwindcss/base";

// --------------------------------------------------------------------
//
// --------------------------------------------------------------------
@import "anim";
@import "colors";
@import "mixins";
@import "utilities";

// --------------------------------------------------------------------
// 2. our reset & base styles (*after* tailwind's defaults)
// --------------------------------------------------------------------
body {
  background: var(--color-body-bg);
  font-size: 1rem;
  line-height: 1.2em;
  color: var(--color-gray);
  @apply font-sans;
}

div {
  /* stylelint-disable-next-line declaration-no-important */
  cursor: url("@/assets/images/mouse.png") 2 2, pointer !important;
}

h1,
h2,
h3,
h4 {
  color: var(--color-gold);
  line-height: 1.1em;
  font-weight: 500;
  margin-bottom: 1em;
}

p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

// preferred default (tailwind uses `block`)
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline-block;
}

a { color:var(--color-gold); }

// --------------------------------------------------------------------
// a minimal layout for the standalone version of Runewizard
// --------------------------------------------------------------------

// pretend component to group layout utils
.rw-Layout {
  &-rowContainer {
    @apply max-w-[1100px] pl-8 pr-4;
  }

  &-goldBarSeparator {
    background: url("@assets/images/hr-gold.gif") repeat-x 0 100%;
    @apply h-[16px];
  }
}

.rw-Header {
  &-link {
    color: var(--color-gold);
  }
  &-link:hover {
    color: color-mix(in srgb, var(--color-gold), #ffeedd);
    @apply underline;
  }
}

.rw-Footer {
  color: var(--color-gold);

  &-link {
    color: var(--color-gold-light);
    @apply hover:underline;
  }
}

// --------------------------------------------------------------------
// <main>
//   Base styles that should be scoped to the Runewizard, and not affect
//   the rest of the page in case it's included in another site.
// --------------------------------------------------------------------
.rw-Main {
  @apply font-sans;
}

.rw-Title {
  &-h2 {
    @apply text-base font-bold;
    color: var(--color-title);
  }
}

// --------------------------------------------------------------------
// runeword search box
// --------------------------------------------------------------------
.rw-Search {
  label {
    color: var(--color-gold);
  }

  &-input {
    @apply w-full rounded;
    padding: 0.5rem;
    background: #000;
    border: 1px solid var(--color-gold);
    color: var(--color-gold-light);
  }

  &-input:focus {
    outline: none;
    border-color: var(--color-gold-light);
  }

  &-input::placeholder {
    color: var(--color-gray-dark);
  }
}

// --------------------------------------------------------------------
// the "Help" toggle
// --------------------------------------------------------------------
.rw-HelpLink {
  // slighty better valign of the SVG icon
  @apply inline-flex items-center;
  color: var(--color-gold);
  padding: 0.3em 0; // slightly increase mouseover area

  &:hover {
    color: color-mix(in srgb, var(--color-gold), #ffeedd);
    @apply underline;
  }
}

// --------------------------------------------------------------------
// Help : base class top format markdown output inside it
// --------------------------------------------------------------------
.rw-Help {
  @apply px-4 pt-6 pb-6;
  @apply  mb-6;
  border-bottom:1px solid var(--color-gray-dark);

  color: var(--color-body-fg);
  line-height: 1.4em;

  h2 {
    @apply font-bold mb-2;
    font-variant: small-caps;
    color: var(--color-accent);
  }
  h2:not(:first-child) {
    @apply mt-6;
  }

  a {
    @apply underline;
  }

  p {
    @apply mb-2;
  }
}

// --------------------------------------------------------------------
// The Runewords table
// --------------------------------------------------------------------
.rw-Table {
  font-size: 13px;

  &-th {
    background: var(--color-blood-dark);
    color: var(--color-gold);
    font-weight: normal;
    padding: 0.25rem 0.5rem;
    border-right: 1px solid #000;
    @apply select-none;
  }

  &-th.is-sortCol {
    font-weight: bold;
  }

  &-thIcon {
    color: var(--color-accent);
  }

  &-tr.is-complete td {
    background: var(--color-blood-darker);
  }

  &-td {
    line-height: 1;
    padding: 5px 5px 6px;
    text-align: center;
    border-bottom: 1px solid var(--color-gray-dark);
    color: var(--color-gray);
  }

  &-td.is-rune {
    color: var(--color-rune-off);
  }
  &-td.is-active {
    color: var(--color-rune-act);
  }

  // runeword title
  &-tdTitle {
    @apply p-0;

    &Span {
      @apply inline-block px-[5px] py-[7px]; // increase the mouseover area

      color: var(--color-gray);

      font-size: 1rem;

      &:hover {
        color: var(--color-gold);
      }
    }

    // optional DII patch number to distinguish recent changes
    &Patch {
      @apply rounded-sm text-xs leading-1 ml-1;
      padding: 2px 4px 2px;
      background-color: var(--color-tag);
      color: #000;
    }
    &Patch.is-new {
      background-color: var(--color-tag-latest);
    }
  }

  // pin icon next to runeword title
  &-pin {
    @apply absolute right-0;
    @apply cursor-pointer;

    &:hover {
      color: var(--color-gold-light);
    }
    &.is-pinned {
      color: var(--color-gray);
    }

    // background: red;
    width: 1.5em;
    height: 1.5em;

    // vertical centering
    @apply top-[50%] mt-[-0.75em];

    // center the icon with auto margin trick
    @apply flex;
    &Icon {
      @apply m-auto;
    }
  }

  &-tdType a {
    text-decoration: underline dotted;
  }
  &-tdType a:hover {
    text-decoration: underline;
    color: #d5d2d0;
  }

  // additional info in the item type, shown below item types in smaller text
  &-tdTypeClass {
    @apply block mt-1 text-[0.9em];
    color: var(--color-accent);
  }

  &-tr.is-complete &-tdTitleSpan {
    color: var(--color-gold);
  }
}

// --------------------------------------------------------------------
//
// --------------------------------------------------------------------
.rw-Runes {
  &-clear {
    @apply inline-block leading-4;
    @apply select-none;
    color: var(--color-danger);
    &:hover {
      color: color-mix(in srgb, var(--color-danger), #fff 20%);
    }

    padding: 0.3em 0; // slightly increase mouseover area
    text-decoration: none;
  }
}

/** @define Rune */
.rw-Rune {
  @apply flex;

  // size is bound to the old ,gif sprite for now, TODO : use a SVG rune icon
  width: 34px;
  height: 34px;
  background: url("@assets/images/rune-bg2.gif") no-repeat 50% -34px;

  color: #666;
  cursor: pointer;

  font-size: 13px;
  font-variant: small-caps;
  line-height: 34px;

  &:hover {
    color: #aaa;
  }

  &.is-selected {
    color: #fff;
    background-position: 50% 0;
  }
}

// --------------------------------------------------------------------
//
// --------------------------------------------------------------------
// a pretend component to group utilities used in formatting the text in runewords.ts
.rw-Md {
  // the `ladder` tag shown next to Runeword names
  &-ladder {
    background-color: var(--color-ladder-bg);
    color: var(--color-ladder-fg);
    border-radius: 100%;
    padding: 1px 5px;
    @apply ml-1 leading-1 text-xs;
  }

  // season-disabled tag shown next to Runeword names
  &-disabled {
    background-color: #7a1f1f;
    color: #fff;
    border-radius: 999px;
    padding: 1px 6px;
    @apply ml-1 leading-1 text-xs;
  }

  // required class under item type (Character Class)
  &-class {
    @apply block;
    font-size: 0.9em;
    color: rgb(192, 61, 137);
  }
}

// --------------------------------------------------------------------
// RUNEWORD DESCRIPTION LAYER
// --------------------------------------------------------------------
.rw-RunewordPopup {
  // use min-width, when some runeword stat is long let popup stretch horizontally
  //  (to keep one stat per line)
  @apply min-w-[22rem];

  // base font-size for scaling
  font-size: 1rem;

  z-index: 100;

  background: #000c;
  border: 1px solid var(--color-gold);
  @apply py-4 px-8 text-center;
  text-align: center;
  color: var(--color-runeword-text);

  &-title {
    color: var(--color-gold);
    @apply text-[1.4em] leading-[1em] mb-2;
  }
  &-type {
    color: var(--color-accent);
    font-size: calc(14 / 16) * 1em;
    @apply mb-2;

    // optional subtext in runeword.ttype, eg. `(Amazon)`
    em {
      @apply ml-1 opacity-80;
    }
  }

  // the runeword's stats
  &-body {
    line-height: 1.4em;
  }

  // subtitle within stats when split stats by Weapon / Body Armor types
  &-body .is-title {
    @apply mb-2;
    color: var(--color-gray);
  }

  // format modifiers (numbers) in the item description
  &-body .is-mod {
    @apply font-bold;
    color: var(--color-runeword-mods);
  }
}

// --------------------------------------------------------------------
// (last) tailwind utilities
// --------------------------------------------------------------------
@import "tailwindcss/utilities";
